@font-face {
    font-family: 'GowunBatang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
}

body{
    font-family:'GowunBatang-Bold';
    color:rgba(37, 28, 28, 0.08);
    background-color:#eaecec;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
     margin:0;
}

li{list-style:none;}
a{text-decoration: none;}
h1,h2,h3,h4,h5,h6,p{
    margin: 10px 5px;
}

h1{
    color:#c5def1;
    font-size: 3.5em;
    width:100%;
    margin-top:60px;
    padding-top: 100px;
    font-weight:bold;
    vertical-align: middle;
    text-align: center;
    font-family: 'RixYeoljeongdo_Regular';
}
h2{
    color: rosybrown;
    font-size: 1.8em;
    width:100%;
    margin-top:60px;
    font-family:'DungGeunMo';

}
h3{color: rosybrown;
    font-size: 1.8em;
    width:100%;
    margin-top:60px;
    font-family:'DungGeunMo';

}

.p1{
    color:rgb(151, 148, 148);
    font: size 0.7em;
    font-family:'GowunBatang-Bold';
    text-align:center;
    vertical-align:middle; 
}


header{
    background-image:url("https://static.fibre2fashion.com/articleresources/images/91/9067/Sustainable%20Clothing-big_Big.jpg") ;
}
background-img{position:relative;
    vertical-align: middle;
    width:100%;
    opacity:0.4;
    filter:alpha(opacity=40);
    object-fit:cover;}

    img{position:relative;
    height: 300px; 
    width: 550px;
    vertical-align: middle;}


header{ width:100%;
    height: 200px;
    z-index: 2000;
    background-color:#fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);
    /* position: fixed; */
    top: 0;
}



.navicon{
    cursor:pointer;
    height: 60px;
    padding: 28px 15px;
    position: absolute;
    top: 0; right:0;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
   
}

.navicon-bar{
    background-color: #333;
    display:block;
    position:relative;
    transition: background-color .2s ease-out;
    width: 20px;
    height: 3px;
}
.navicon-bar::before,
.navicon-bar::after{
    background-color: #333;
    content:"";
    display:block;
    height: 100%;
    width: 100%;
    position:absolute;
    transition: all .2s ease-out;
    width:100%;
}
.navicon-bar::before{
    top:-7px;
}
.navicon-bar::after{
    top:7px;
}
.nav-toggle:checked~ .navicon> .navicon-bar{
    background: transparent;
}
.nav-toggle:checked~ .navicon> .navicon-bar::before{
    transform:rotate(45deg);
    top:0;
}
.nav-toggle:checked~ .navicon> .navicon-bar::after{
    transform:rotate(-45deg);
    top: 0;
}
#content-wrap:after{
    content:"";
    display: block;
    clear:both;
}

aside{
   position:fixed;
   top: 60px;
   bottom: 0;
   width: 200px;
   padding-top: 160px;
}

aside>ul{
    width:200px;
}

aside>ul>li>a{
    display:block;
    color:rgb(105, 102, 102);
    padding:10px 0 10px 20px;
}

aside > ul > li > a.active {
    background-color:#c5dff5;
}

aside> ul > li > a:hover:not(.active){
    color:cadetblue
}

aside>h1{
    padding:5px 0 20px 20px;
    color:rgb(70, 65, 65);
}

section{
    float:right;
   margin-left: 200px;
}

article{
    width: 48.5%;
    margin:1%;
    padding:25px;
    background-color: white;
    color:rgb(19, 15, 15);
    float: left;
}
article:nth-of-type(2n){
    margin-left:0;
}
article:nth-of-type(n+3){
    margin-top:0;
}

footer{
    position: absolute;
    height: 60px;
    width: 100%;
    padding: 0 25px;
    line-height: 60px;
    color: #3e1452;
    border-top: 1px solid #ececd9;
    background-color: #f2f2f2;
    text-align: center;
}

#wrap{
    margin-top: 60p;
}

    
head{
    margin:0;
    padding:0;
    box-sizing: border-box;   
    }

.nav-toggle{
    display:none;
}
.navicon{
    display: none;
}
@media screen and (max-width:800px) {
    article {
        width: inherit;
        display: block;
        margin: 10px;
        float: none;
      }
      article:nth-of-type(2n){
          margin:10px;
      }
      article:nth-of-type(n+2){
          margin-top:0;
      }
    header{
        height: 120px;
        text-align:center;
    }
    nav{
        float:none;
        margin-right:0;
    }
    #wrap{
        margin-top:120px;
    }
    aside{
        top: 120px;
    }
}
@media screen and (max-width:480px){
    header{
        height: 60px;
    }
    .nav-items{
        display:none;
    }
    .navicon{
        display:block;
    }
    #wrap{
        margin-top:60px;
    }
    aside{
        top: 60px;
        position:static;
        width:100%;
        padding: 5px 0;
    }
    .nav-toggle:checked~ .nav-items{
        display:block;
        width:100%;
        background-color: #fff;
        box-shadow: 0 2px 2px rgba(0,0,0,0.05), 0 1px 0 rgba(0,0,0,0.05);
    }
    .nav-items>li{
        display:block;
    }
    .nav-itmes>li>a{
        line-height: 50px;
    }
}
